html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
}

.header {
  background-color: #EDF2EC;
  margin-bottom: 93px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding: 42px 0;
}

.header-logo {
  margin: auto 0;
  height: 100%;
  color: #000;
  font-family: 'Inika', serif;
  font-weight: 400;
}

.menu__list {
  display: flex;
}

.menu__item {
  font-family: 'Inika', serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
}

.menu__item+.menu__item {
  margin-left: 46px;
}

.menu__item_active {
  color: #E06733;
}

.welcome {
  display: flex;
  justify-content: space-between;
  padding: 62px 0;
}

.welcome-content {
  max-width: 549px;
}

.welcome-content__title {
  margin-bottom: 42px;
  color: #717171;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 45px;
  font-weight: 700;
  line-height: 50px
}

.welcome-content__title_color_green {
  color: #499A18;
}

.welcome-content__text {
  margin-bottom: 48px;
  color: #636060;
  font-size: 20px;
  line-height: 35px;
}

.welcome-content__more {
  padding: 14px 27px;
  border-radius: 10px;
  border: 2px solid #E06733;
  font-size: 16px;
  line-height: 20px;
  background-color: transparent;
  text-transform: uppercase;
}

.about {
  margin-bottom: 94px;
}

.about-inner {
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 605px;
}

.about-text__title {
  margin-top: 58px;
  font-family: 'Inika', serif;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  color: #499A18;
  max-width: 463px;
}

.about-text__title_color_orange {
  color: #E06733;
}

.about-text__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #636060;
}

.about-photo {
  margin: auto 0;
}

.about-photo__img {
  width: 100%;
}

.service {
  background-color: #EDF2EC;
  padding-bottom: 121px;
  margin-bottom: 40px;
}

.service-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
  padding-top: 40px;
  max-width: 1007px;
  align-items: center;
}

.service__title {
  margin: 0;
  max-width: 306px;
  font-family: Inika;
  color: #499A18;
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}

.service-filter__btn {
  width: 160px;
  height: 50px;
  padding: 0;
  background-color: transparent;
  color: #E06733;
  font-family: Inika;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #E06733;
}

.service-filter__btn+.service-filter__btn {
  margin-left: 38px;
}

.service-body {
  display: grid;
  grid-template-columns: repeat(3, 329px);
  gap: 55px 117px;
}

.service-card {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  text-align: center;
}

.service-card__img {
  margin-bottom: 10px;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.service-card__title {
  margin: 0 0 10px 0;
  color: #E06733;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.service-card__description {
  margin: 0 0 36px 0;
  color: #717171;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.prices {
  margin-bottom: 115px;
}

.prices-inner {
  display: flex;
  justify-content: space-between;
}

.prices__title,
.prices-help__title {
  margin: 0;
}

.prices__title {
  margin-bottom: 60px;
  font-size: 40px;
  font-weight: 700;
}

.prices-accourdion {
  border-radius: 20px;
  border: 1px solid #E3E1D5;
  padding: 34px 41px;
}

.prices-accourdion__details {
  border-radius: 20px;
  background-color: #EDF2EC;
  padding: 16px 40px;
  width: 250px;
}

.prices-accourdion__details+.prices-accourdion__details {
  margin-top: 32px;
}

.prices-accourdion__summary {
  list-style: none;
  background-image: url("../assets/prices-accordion_btn_open.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
}

.prices-accourdion__details[open] {
  background-color: #D6E7D2;
}

.prices-accourdion__details[open] .prices-accourdion__summary {
  background-image: url("../assets/prices-accordion_btn_close.png");
}

.prices-accourdion__description {
  margin-top: 12px;
  margin-bottom: 6px;
  padding-top: 6px;
  border-top: 1px solid #AEA1A1;
  color: #717171;
  font-size: 10px;
  font-weight: 300;
  line-height: 10px;
}

.prices-accourdion__price {
  margin-bottom: 12px;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.prices-accourdion__price span {
  color: #E06733;
  font-size: 16px;
  font-weight: 700;
}

.prices-accourdion__btn {
  padding: 3px 20px;
  color: #717171;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 10px;
  background-color: #FFF;
  border: none;
}

.prices-help__title {
  margin-bottom: 38px;
  max-width: 452px;
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px
}

.prices-help__title_color_green {
  color: #499A18;
  /* prices-accordion_btn_open */
}

.prices-link__contact {
  display: block;
  width: 162px;
  margin-left: auto;
  margin-bottom: 38px;
  padding: 12px 32px;
  text-align: center;
  color: #E06733;
  font-family: Inika;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #E06733;
}

.prices__img {
  margin-left: 64%;
}